*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arial.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  min-width: 320px;
}
@media (min-width: 768px) {
  body {
    min-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  body {
    min-width: 1440px;
    margin: 0 auto;
  }
}

main {
  flex-grow: 1;
}
@media (min-width: 768px) {
  main {
    padding: 0px;
  }
}
@media (min-width: 1440px) {
  main {
    padding: 0px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 44px;
  background-color: #68B738;
}
.button:hover {
  background-color: #5EAA2F;
}
.button:active {
  background-color: #5EAA2F;
}
.button:active .button__text {
  opacity: 0.3;
}

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo__button__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px 16px 20px;
}

.page-header__logo--icon:hover,
.page-header__logo--text:hover {
  opacity: 0.8;
}
.page-header__logo--icon:active,
.page-header__logo--text:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 30px;
  }
  .page-header__logo__button__wrapper {
    padding: 0;
  }
  .page-header__logo--text {
    display: none;
  }
  .page-header__logo {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    padding: 0;
    margin-bottom: -577px;
  }
  .page-header__logo__button__wrapper {
    align-items: flex-start;
    padding-top: 53px;
    padding-left: 110px;
  }
  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
.main-nav__toggle {
  width: 24px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.main-nav__toggle:hover {
  opacity: 0.8;
}
.main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav__toggle--opened {
  background: transparent url("../img/toggle-opened.svg") no-repeat center;
}

.main-nav__toggle--closed {
  background: transparent url("../img/toggle-closed.svg") no-repeat center;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .site-list__item {
    width: 100%;
  }
}
.main-nav--no-js .site-list__item {
  display: block;
}

.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  text-align: center;
  padding: 20px 20px;
  border-top: 1px solid #E6E6E6;
}

.site-list__item:last-child {
  border-bottom: 1px solid #E6E6E6;
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .site-list {
    min-width: 478px;
    flex-direction: row;
    justify-content: space-between;
  }
  .site-list__item {
    border: none;
    padding: 0;
  }
  .site-list__item:last-child {
    border: none;
  }
  .site-list__link {
    position: relative;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 0;
  }
  .site-list__link--active {
    cursor: default;
  }
  .site-list__link--active:hover {
    opacity: 1;
  }
  .site-list__link--active:active {
    opacity: 1;
  }
  .site-list__link--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 720px;
    min-height: 696px;
    padding: 70px;
    padding-top: 58px;
    padding-right: 110px;
    background: #68B738 url("../img/index-background-desktop.png") no-repeat center;
    background-size: cover;
  }
  .site-list__link {
    color: #fff;
  }
  .site-list__link--active::after {
    background-color: #fff;
  }
}
.index-header__wrapper--text {
  min-height: 320px;
  background: #68B738 url("../img/index-background-mobile.png") no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 27px 35px;
  margin-bottom: -138px;
}

.index-header__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.index-header__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.main-header__description {
  margin-top: 25px;
}

.index-header__wrapper--img {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.button--choose-program {
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .index-header {
    padding: 30px;
  }
  .index-header__wrapper--text {
    min-height: min-content;
    background: none;
    margin: 0;
    padding: 8px 87px;
  }
  .index-header__title {
    max-width: 414px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000;
  }
  .index-header__description {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    margin-top: 41px;
  }
  .index-header__wrapper--img {
    position: relative;
    margin-top: 12px;
  }
  .main__header__img {
    width: 709px;
  }
  .main-header__button {
    position: absolute;
    top: 29px;
    left: 83px;
  }
  .button--choose-program {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}
@media (min-width: 1440px) {
  .main-header__button {
    position: absolute;
    top: 32px;
    left: 83px;
  }
  .main__header__img {
    width: 552px;
    position: relative;
    left: 429px;
    top: -178px;
  }
  .index-header__wrapper--text {
    margin-top: 103px;
  }
}
.advantages {
  margin-bottom: 27px;
  padding: 0 20px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.advantages__item {
  background-color: #f2f2f2;
  padding: 20px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages__title {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
.advantages__title--slim {
  min-height: 53px;
  padding-left: 69px;
  background-image: url(../img/mobile-slim.svg);
  background-repeat: no-repeat;
}
.advantages__title--weight {
  min-height: 50px;
  padding-left: 78px;
  background-image: url(../img/mobile-weight.svg);
  background-repeat: no-repeat;
  margin-left: -7px;
}

.advantages__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9;
}

.advantages__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding-right: 47px;
  background-image: url(../img/advantages-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 0 center;
}
.advantages__link:hover {
  background-image: url("../img/advantages-arrow-hover.svg");
}
.advantages__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .advantages {
    padding: 0 30px;
    margin-bottom: 45px;
  }
  .advantages__item {
    position: relative;
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 53px;
  }
  .advantages__item--slim {
    padding-right: 279px;
  }
  .advantages__item--slim::after {
    position: absolute;
    top: 50%;
    right: 62px;
    width: 200px;
    height: 211px;
    transform: translateY(-50%);
    background-image: url("../img/tablet-slim.svg");
    background-repeat: no-repeat;
    content: "";
  }
  .advantages__item--weight {
    padding-right: 314px;
  }
  .advantages__item--weight::after {
    position: absolute;
    top: 91px;
    right: 28px;
    width: 268px;
    height: 200px;
    background-image: url("../img/tablet-weight.svg");
    background-repeat: no-repeat;
    content: "";
  }
  .advantages__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .advantages__title--slim {
    min-height: min-content;
    padding-left: 0;
    background-image: none;
  }
  .advantages__title--weight {
    min-height: min-content;
    padding-left: 0;
    background-image: none;
    margin-left: 0;
  }
  .advantages__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 48px;
    border: none;
  }
  .advantages__link {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 0 110px;
    margin-top: -150px;
    margin-bottom: 71px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
    margin: 0;
  }
  .advantages__item {
    padding: 55px 52px;
  }
  .advantages__item--slim {
    padding-top: 41px;
  }
  .advantages__item--weight {
    padding-top: 47px;
  }
  .advantages__item--slim::after {
    content: none;
  }
  .advantages__item--weight::after {
    content: none;
  }
  .advantages__item:not(:last-child) {
    margin: 0;
  }
  .advantages__title--slim {
    min-height: 106px;
    padding-left: 162px;
    background-image: url("../img/desctop-slim.svg");
  }
  .advantages__title--weight {
    min-height: 100px;
    padding-left: 181px;
    background-image: url("../img/desctop-weight.svg");
  }
}
.how-it-works {
  margin-bottom: 42px;
  padding: 0 20px;
}

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 38px;
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.how-it-works__item {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 80px;
}

.how-it-works__item--leaf {
  background-image: url(../img/hitw-leaf.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item--leaf {
    background-image: url(../img/hitw-leaf-tablet.svg);
  }
}

.how-it-works__item--water {
  background-image: url(../img/hitw-water.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item--water {
    background-image: url(../img/hitw-water-tablet.svg);
  }
}

.how-it-works__item--food {
  background-image: url(../img/hitw-food.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item--food {
    background-image: url(../img/hitw-food-tablet.svg);
  }
}

.how-it-works__item--alarm {
  background-image: url(../img/hitw-alarm.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item--alarm {
    background-image: url(../img/hitw-alarm-tablet.svg);
  }
}

.how-it-works__item:not(:last-child) {
  margin-bottom: 20px;
}

.how-it-works__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin: 0;
}

@media (min-width: 768px) {
  .how-it-works {
    margin-bottom: 104px;
    padding: 0 30px;
    padding-right: 119px;
  }
  .how-it-works__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
  .how-it-works__list {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    row-gap: 37px;
  }
  .how-it-works__item--water,
.how-it-works__item--alarm {
    grid-column: -2/-1;
  }
  .how-it-works__item {
    padding: 0;
    padding-top: 111px;
  }
  .how-it-works__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .how-it-works__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .how-it-works {
    padding: 0 110px;
    margin-bottom: 268px;
  }
  .how-it-works__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 83px;
  }
  .how-it-works__item--water,
.how-it-works__item--alarm {
    grid-column: auto;
  }
}
.examples {
  background-color: #EAEAEA;
}

.story {
  padding: 20px;
}

.examples--story__wrapper {
  margin-bottom: 22px;
}

.story__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.examples--story__title {
  margin: 0;
  margin-bottom: 33px;
}

.story__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444;
}

.examples--story__description {
  margin: 0;
  margin-bottom: 25px;
}

.examples--story__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  margin: 0;
  margin-bottom: 34px;
}

.story__item {
  position: relative;
  min-width: 124px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding: 15px 20px;
}

.story__info {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.story__info__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 77px;
  color: #444;
  text-align: center;
  text-transform: lowercase;
  background-color: #EAEAEA;
}

.examples--story__info__description {
  margin: 0;
}

.story__price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.examples--story__price {
  margin: 0;
}

.examples--live__wrapper {
  padding-bottom: 25px;
}

.examples--live__cat--before {
  margin: 0 auto;
}

.examples--live__range {
  margin-top: 23px;
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
}

.range__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.range-bar {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  background-color: #fff;
  margin: 0 12px;
}

.range-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 6px;
  background-color: #68B738;
  border-radius: 6px;
  border: 1px solid #CDCDCD;
}
.range-button:active {
  border: 1px solid #68B738;
}

.range-button--before {
  left: 6px;
}

.range-button--after {
  right: 6px;
}

@media (min-width: 768px) {
  .examples {
    background-color: #fff;
  }
  .examples--story__wrapper {
    margin-bottom: 250px;
  }
  .story {
    padding: 0 30px;
  }
  .examples--story__title {
    margin-bottom: 63px;
  }
  .story__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
  .examples--story__description {
    margin-bottom: 54px;
  }
  .story__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .examples--story__wrapper--second {
    display: flex;
  }
  .examples--story__price {
    margin-left: auto;
  }
  .story__price {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    max-width: 174px;
    text-align: right;
  }
  .story__item {
    min-width: 162px;
  }
  .story__info {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }
  .story__info__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    bottom: -5px;
    background-color: #fff;
    padding: 0 2px;
    min-width: 131px;
  }
  .examples--live__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #EAEAEA;
    min-height: 462px;
  }
  .range-bar {
    width: 428px;
    height: 6px;
    background-color: #DCDCDC;
    border-radius: 6px;
    border: none;
  }
  .range-button {
    left: 197px;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
  }
  .range__description {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .range-button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border-radius: 50%;
    content: "";
  }
  .examples--live__cat--before {
    position: absolute;
    top: -189px;
    width: 708px;
    height: 620px;
  }
}
@media (min-width: 1440px) {
  .examples {
    background-color: #EAEAEA;
    padding-bottom: 64px;
  }
  .examples__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  .story__title {
    position: relative;
    top: -136px;
    padding-left: 110px;
    margin: 0;
  }
  .examples--story__description {
    margin-top: 6px;
    margin-left: 110px;
    margin-bottom: 69px;
  }
  .examples--story__wrapper {
    margin: 0;
  }
  .examples--story__wrapper--second {
    margin-left: 110px;
    flex-direction: column;
    justify-content: center;
  }
  .examples--story__list {
    margin-bottom: 55px;
  }
  .story__info__description {
    background-color: #EAEAEA;
  }
  .story__price {
    max-width: none;
    text-align: center;
    margin: 0;
  }
  .live-example {
    padding: 0;
  }
  .range {
    margin: 0;
  }
  .examples--live__cat--before {
    top: -194px;
  }
}
.page-footer {
  background-color: #F2F2F2;
  position: relative;
}

.cooperation {
  display: flex;
  justify-content: space-between;
  padding: 28px 4px 22px 19px;
  background-color: #fff;
}

.cooperation__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111;
}

.page-footer__cooperation__title {
  margin: 0;
}

.cooperation__address {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}

.page-footer__cooperation__address {
  margin: 0;
}

.map {
  border: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 20px 22px 20px;
}

.page-footer__logo {
  position: relative;
  margin-bottom: 32px;
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}

.page-footer__logo::before {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 280px;
  height: 10px;
  background-color: #D9D9D9;
  content: "bvbvbvb";
}

.contacts__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 20px 0;
  padding-bottom: 10px;
}

.page-footer__contacts__list__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-footer__contacts__list__wrapper::before {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  content: "";
}
.page-footer__contacts__list__wrapper::after {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  content: "";
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__item:not(:last-child) {
  margin-right: 33px;
}

.page-footer__contacts__list {
  margin: 0;
}

.page-footer__contacts__copyright__wrapper {
  margin-top: 22px;
}

.contacts__link:hover .contacts__link__icon {
  fill: #68B738;
}
.contacts__link:hover .contacts__link__icon--facebook {
  fill: none;
  stroke: #68B738;
}
.contacts__link:active .contacts__link__icon {
  fill: #68B738;
  opacity: 0.3;
}
.contacts__link:active .contacts__link__icon--facebook {
  fill: none;
  stroke: #68B738;
}

.contacts__link__icon {
  display: flex;
  fill: #666;
}
.contacts__link__icon--vk {
  width: 23px;
  height: 16px;
}
.contacts__link__icon--insta {
  width: 16px;
  height: 16px;
}
.contacts__link__icon--facebook {
  width: 22px;
  height: 22px;
  fill: none;
  stroke: #666;
}

.contacts__copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contacts__copyright {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__icon {
  fill: #666;
}

.contacts__copyright:hover .copyright__icon {
  fill: #68B738;
}

.contacts__copyright:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .cooperation {
    padding: 66px 71px 51px 71px;
  }
  .cooperation__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    max-width: 170px;
  }
  .cooperation__address {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 160px;
  }
  .map {
    height: 400px;
  }
  .contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 60px 30px;
  }
  .page-footer__logo {
    margin: 0;
  }
  .page-footer__contacts__list__wrapper::before {
    display: none;
  }
  .page-footer__contacts__list__wrapper::after {
    display: none;
  }
  .contacts__list {
    margin: 0;
    padding: 0;
    border: none;
    width: auto;
    min-width: 130px;
    max-width: 360px;
  }
  .contacts__item {
    margin: 5px 25px;
  }
  .contacts__link__icon--vk {
    width: 30px;
    height: 22px;
  }
  .contacts__link__icon--insta {
    width: 23px;
    height: 23px;
  }
  .contacts__link__icon--facebook {
    width: 28px;
    height: 33px;
  }
  .contacts__copyright__wrapper {
    width: auto;
    min-width: 163px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .page-footer__cooperation__wrapper {
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
    min-width: 570px;
  }
}
.site-list__link--catalog {
  color: #000;
}

@media (min-width: 768px) {
  .catalog-nav__wrapper {
    display: flex;
    align-items: flex-start;
  }
  .site-list__link--active--catalog {
    cursor: default;
  }
  .site-list__link--active--catalog:hover {
    opacity: 1;
  }
  .site-list__link--active--catalog:active {
    opacity: 1;
  }
  .site-list__link--active--catalog::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
  .page-header--catalog {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .catalog-nav__wrapper {
    padding-top: 58px;
    padding-right: 110px;
  }
}
.products-catalog__title {
  margin: 0;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 41px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

.products-catalog__list {
  margin: 0;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
}

.catalog__item {
  padding: 14px 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.catalog__item__wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__item__image {
  width: 140px;
}

.catalog__item__info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.products-catalog__item__name {
  margin-bottom: 18px;
}

.catalog__item__name {
  display: flex;
  align-self: flex-start;
  max-width: 76px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__item__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.products-catalog__item__button {
  margin-top: 13px;
}

.catalog__item__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.show-more__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  padding-top: 79px;
  border-bottom: 1px solid #E6E6E6;
}
.show-more__wrapper::before {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 30px;
  height: 2px;
  transform: translateX(-50%);
  background-color: #D3D3D3;
  content: "";
}
.show-more__wrapper::after {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 30px;
  height: 2px;
  background-color: #D3D3D3;
  content: "";
}

.products-catalog__show-more__text {
  margin-bottom: 8px;
}

.show-more__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.products-catalog__show-more__description {
  margin-bottom: 21px;
}

.show-more__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 12px 20px;
  width: 100%;
}
.show-more__button:hover {
  background-color: #EBEBEB;
}
.show-more__button:active .show-more__button__text {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .products-catalog__title {
    margin-top: 41px;
    margin-left: 30px;
    margin-bottom: 164px;
  }
  .catalog__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    border: none;
    text-align: left;
  }
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
    padding: 0 30px;
  }
  .catalog__item__wrapper {
    flex-direction: column;
  }
  .catalog__item {
    padding: 40px 36px;
    padding-top: 0;
    border: none;
    background-color: #f2f2f2;
  }
  .catalog__item__image {
    width: 168px;
    height: 200px;
    position: relative;
    top: -73px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -39px;
  }
  .products-catalog__item__name {
    margin: 0 auto;
    margin-bottom: 21px;
  }
  .catalog__item__name {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    text-align: center;
  }
  .products-catalog__item__info:not(:last-child) {
    margin-bottom: 5px;
  }
  .catalog__item__info {
    border-bottom: 1px solid #CDCDCD;
  }
  .catalog__item__info__text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 9px;
  }
  .catalog__item__button {
    line-height: 20px;
    margin-top: 33px;
  }
  .show-more__wrapper {
    min-height: 429px;
    padding: 38px;
    padding-top: 161px;
    border: 2px solid #F2F2F2;
  }
  .show-more__wrapper::after {
    width: 60px;
    top: 82px;
  }
  .show-more__wrapper::before {
    width: 60px;
    top: 82px;
  }
  .products-catalog__show-more__text {
    margin-bottom: 23px;
  }
  .show-more__text {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0 40px;
  }
  .products-catalog__show-more__description {
    margin-bottom: 87px;
  }
  .show-more__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 0 10px;
  }
}
@media (min-width: 1440px) {
  .products-catalog__title {
    margin: 74px 0 165px 110px;
  }
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 144px;
    padding: 0 110px;
  }
  .catalog__item__image {
    margin-bottom: -27px;
  }
  .catalog__item__name {
    line-height: 21px;
  }
  .show-more__wrapper {
    min-height: 435px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .show-more__text {
    padding: 0;
  }
  .show-more__description {
    padding: 0;
  }
}
.catalog__additional {
  position: relative;
  padding: 0 20px;
}
.catalog__additional::before {
  position: absolute;
  top: 17px;
  right: 0;
  left: 267px;
  height: 2px;
  background-color: #68B738;
  content: "";
}

.products-catalog__additional__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.catalog__additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E6E6;
}
.catalog__additional__item:first-child {
  border-top: 1px solid #E6E6E6;
}

.products-catalog__additional__name {
  margin-bottom: 13px;
}

.catalog__additional__name {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.products-catalog__additional__info__wrapper {
  margin-bottom: 15px;
}

.catalog__additional__info__wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__additional__info {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.button__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.products-catalog__additional__bonus__wrapper {
  margin-bottom: 35px;
}

.bonus__wrapper {
  position: relative;
  width: 100%;
  min-height: 289px;
  padding: 0 50px;
  padding-top: 186px;
  padding-bottom: 43px;
  background: #68B738 url("../img/catalog/background-mobile.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.bonus__wrapper::before {
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../img/catalog/gift-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.bonus__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog__additional {
    padding: 0 30px;
  }
  .catalog__additional::before {
    left: 441px;
    top: 23px;
  }
  .catalog__additional::after {
    position: absolute;
    top: 23px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
  .products-catalog__additional__title {
    margin-top: 68px;
    margin-bottom: 80px;
    margin-left: 37px;
  }
  .catalog__additional__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
  .products-catalog__additional__list {
    margin-bottom: 69px;
  }
  .catalog__additional__list {
    padding: 0 38px;
    border: 1px solid #CDCDCD;
  }
  .catalog__additional__item {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    padding-top: 26px;
    padding-bottom: 28px;
  }
  .catalog__additional__item:first-child {
    border: none;
  }
  .catalog__additional__item::after {
    position: absolute;
    bottom: 0;
    left: -38px;
    right: -38px;
    height: 1px;
    background-color: #CDCDCD;
    content: "";
  }
  .catalog__additional__item:last-child::after {
    content: none;
  }
  .products-catalog__additional__name {
    margin: 0;
  }
  .catalog__additional__name {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
  .products-catalog__additional__info__wrapper {
    margin: 0;
  }
  .catalog__additional__info {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .products-catalog__additional__item__button {
    grid-column: 1/-1;
    margin-top: 27px;
  }
  .products-catalog__additional__bonus__wrapper {
    margin-bottom: 76px;
  }
  .bonus__wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    min-height: 200px;
    background-image: url("../img/catalog/background-tablet.png");
  }
  .bonus__wrapper::before {
    top: 57px;
    left: 78px;
    width: 80px;
    height: 82px;
    background-size: cover;
    transform: none;
  }
  .bonus__text {
    padding: 70px 124px;
    padding-left: 423px;
  }
}
@media (min-width: 1440px) {
  .catalog__additional {
    padding: 0 110px;
  }
  .catalog__additional::after {
    width: 70px;
  }
  .catalog__additional::before {
    left: 483px;
  }
  .products-catalog__additional__title {
    margin: 76px 0 81px 0;
  }
  .products-catalog__additional__list {
    margin: 0;
  }
  .catalog__additional__list {
    padding: 0;
    border: none;
    flex-grow: 1;
  }
  .catalog__additional__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 17px;
    border-bottom: 1px solid #CDCDCD;
  }
  .catalog__additional__item:first-child {
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
  }
  .catalog__additional__item::after {
    display: none;
  }
  .catalog__additional__name {
    min-width: 324px;
  }
  .catalog__additional__info__wrapper {
    flex-grow: 1;
  }
  .products-catalog__additional__item__button {
    margin: 0;
    margin-left: 40px;
  }
  .catalog__additional__item__button {
    min-width: 244px;
  }
  .products-catalog__additional__bonus__wrapper {
    margin: 0;
  }
  .products-catalog__additional__list-info-wrapper {
    margin-bottom: 86px;
  }
  .catalog__additional__list-info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .products-catalog__additional__bonus__wrapper {
    margin-left: 40px;
  }
  .bonus__wrapper {
    justify-content: center;
    align-items: flex-end;
    width: auto;
    min-width: 245px;
    min-height: 289px;
    background-image: url("../img/catalog/background-desktop.png");
    padding: 41px;
  }
  .bonus__wrapper::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .bonus__text {
    padding: 0;
    max-width: 161px;
  }
}
.cooperation--catalog {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .cooperation--catalog {
    background-color: #fff;
  }
}

.program-selection__wrapper {
  padding: 27px 20px;
  padding-bottom: 32px;
  border-top: 1px solid #D9D9D9;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.form__program-selection__title {
  margin: 0;
  margin-bottom: 37px;
}

.program-selection__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form__program-selection__text {
  margin: 0;
  margin-bottom: 39px;
}

.program-selection__text {
  text-transform: uppercase;
}

.program-selection__button {
  width: 100%;
  border: none;
}

.form__program-selection__description {
  margin: 0;
  margin-top: 21px;
}

.program-selection__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.program-selection__input {
  outline: none;
}
.program-selection__input:hover {
  border: 1px solid #CDCDCD;
}
.program-selection__input:active {
  outline: 2px solid #444444;
}
.program-selection__input:active + .form__program-selection__owner-data__input__icon--email {
  stroke: #68B738;
}
.program-selection__input:active + .form__program-selection__owner-data__input__icon--phone {
  fill: #68B738;
}
.program-selection__input:focus {
  outline: 2px solid #444444;
}
.program-selection__input:focus + .form__program-selection__owner-data__input__icon--email {
  stroke: #68B738;
}
.program-selection__input:focus + .form__program-selection__owner-data__input__icon--phone {
  fill: #68B738;
}
.program-selection__input:invalid {
  outline: 2px solid #FF8282;
}
.program-selection__input:invalid + .form__program-selection__owner-data__input__icon--email {
  stroke: #FF8282;
}
.program-selection__input:invalid + .form__program-selection__owner-data__input__icon--phone {
  fill: #FF8282;
}

.program-selection__control:hover {
  cursor: pointer;
}
.program-selection__control:hover .program-selection__cat-weight__control__radio, .program-selection__control:hover .program-selection__additional__control__checkbox {
  border: 1px solid #BABABA;
}
.program-selection__control:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .program-selection__wrapper {
    padding: 70px;
    padding-top: 65px;
    padding-right: 65px;
    border: none;
  }
  .form__program-selection__title {
    position: relative;
    left: -41px;
    margin-bottom: 54px;
  }
  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
  }
  .form__program-selection__text {
    margin-bottom: 66px;
  }
  .program-selection__text {
    font-size: 30px;
    line-height: 30px;
  }
  .program-selection__button__wrapper {
    display: flex;
  }
  .program-selection__button {
    flex-grow: 1;
    width: auto;
    max-width: 568px;
  }
  .form__program-selection__description {
    margin-left: 61px;
  }
}
@media (min-width: 1440px) {
  .form__program-selection__cat-data__wrapper {
    margin-bottom: 65px;
  }
  .program-selection__wrapper {
    padding: 74px 110px 82px 110px;
  }
  .form__program-selection__title {
    left: 0;
  }
  .program-selection__cat-data__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 65px;
  }
  .form__program-selection__description {
    margin-left: 81px;
  }
}
.form__program-selection__cat-data {
  margin: 0;
  margin-bottom: 20px;
}

.program-selection__cat-data {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  padding-bottom: 13px;
}
.program-selection__cat-data::after {
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #D9D9D9;
  content: "";
}

.form__program-selection__cat-data__item {
  margin-bottom: 14px;
}

.program-selection__cat-data__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__program-selection__cat-data__text {
  margin-right: 14px;
}

.program-selection__cat-data__text {
  text-transform: uppercase;
}

.program-selection__cat-data__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  flex-grow: 1;
  padding: 14px;
  border: 1px solid #E7E7E7;
}

@media (min-width: 768px) {
  .form__program-selection__cat-data {
    margin-bottom: 52px;
  }
  .program-selection__cat-data {
    padding: 0;
  }
  .program-selection__cat-data::after {
    display: none;
  }
  .form__program-selection__cat-data__item {
    margin-bottom: 20px;
  }
  .program-selection__cat-data__text {
    font-size: 20px;
    line-height: 30px;
  }
  .program-selection__cat-data__input {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form__program-selection__cat-data {
    margin: 0;
  }
  .form__program-selection__cat-data__item:last-child {
    margin: 0;
  }
  .program-selection__cat-data__input {
    padding: 10px 14px;
  }
}
.form__program-selection__cat-weight {
  margin: 0;
  margin-bottom: 26px;
}

.program-selection__cat-weight {
  position: relative;
  border: none;
  padding: 0;
}
.program-selection__cat-weight::after {
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #D9D9D9;
  content: "";
}

.form__program-selection__cat-weight__list {
  margin: 0;
}

.program-selection__cat-weight__list {
  padding: 0;
  list-style-type: none;
}

.form__program-selection__cat-weight__list__item {
  margin-bottom: 25px;
}

.program-selection__cat-weight__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.program-selection__cat-weight__control__radio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}

.form__program-selection__cat-weight__control__input[type=radio]:checked + .program-selection__cat-weight__control__radio::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 13.5px;
  height: 13.5px;
  background-color: #68B738;
  border-radius: 50%;
  content: "";
}
@media (min-width: 768px) {
  .form__program-selection__cat-weight__control__input[type=radio]:checked + .program-selection__cat-weight__control__radio::before {
    width: 18px;
    height: 18px;
  }
}

.program-selection__cat-weight__control__text {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .form__program-selection__cat-weight {
    margin-bottom: 71px;
  }
  .program-selection__cat-weight {
    padding: 30px;
    padding-bottom: 7px;
    border: 1px solid #E7E7E7;
  }
  .program-selection__cat-weight::after {
    display: none;
  }
  .form__program-selection__cat-weight__list__item {
    margin-bottom: 23px;
  }
  .program-selection__cat-weight__item {
    padding-left: 60px;
  }
  .program-selection__cat-weight__control__radio {
    width: 40px;
    height: 40px;
  }
  .program-selection__cat-weight__control__text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form__program-selection__cat-weight {
    margin: 0;
  }
}
.form__program-selection__owner-data {
  margin: 0;
}

.program-selection__owner-data {
  position: relative;
  border: none;
  padding: 0;
  padding-bottom: 13px;
}
.program-selection__owner-data::before {
  position: absolute;
  top: -66px;
  left: 201px;
  right: -20px;
  height: 2px;
  background-color: #68B738;
  content: "";
}

.form__program-selection__owner-data__title {
  margin-bottom: 32px;
}

.program-selection__owner-data__title {
  max-width: 187px;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}

.form__program-selection__owner-data__item {
  margin-bottom: 14px;
}

.program-selection__owner-data__item {
  display: flex;
  align-items: center;
}

.form__program-selection__owner-data__text {
  margin-right: 11px;
}

.program-selection__owner-data__text {
  text-transform: uppercase;
}

.program-selection__owner-data__input__wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.program-selection__owner-data__input {
  padding: 11px 40px 14px 10px;
  width: 100%;
  border: 1px solid #E7E7E7;
}

.form__program-selection__owner-data__input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form__program-selection__owner-data__input__icon--email {
  right: 15px;
}
.form__program-selection__owner-data__input__icon--phone {
  right: 13px;
}
.form__program-selection__owner-data__input__icon--email {
  stroke: #222222;
}
.form__program-selection__owner-data__input__icon--phone {
  fill: black;
}

@media (min-width: 768px) {
  .form__program-selection__owner-data {
    margin-bottom: 45px;
  }
  .program-selection__owner-data {
    padding: 0;
  }
  .program-selection__owner-data::before {
    display: none;
  }
  .form__program-selection__owner-data__title {
    margin-bottom: 76px;
  }
  .program-selection__owner-data__title {
    max-width: none;
    width: 100%;
    font-size: 36px;
    line-height: 36px;
  }
  .program-selection__owner-data__title::before {
    position: absolute;
    top: 25px;
    left: -70px;
    width: 30px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
  .program-selection__owner-data__title::after {
    position: absolute;
    top: 25px;
    left: 553px;
    right: -65px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
  .form__program-selection__owner-data__item {
    margin-bottom: 20px;
  }
  .form__program-selection__owner-data__text {
    margin-right: 16px;
  }
  .program-selection__owner-data__text {
    font-size: 20px;
    line-height: 30px;
  }
  .program-selection__owner-data__input {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form__program-selection__owner-data {
    margin-bottom: 65px;
  }
  .program-selection__owner-data__title::before {
    left: -110px;
    width: 70px;
  }
  .program-selection__owner-data__title::after {
    right: -110px;
  }
  .program-selection__owner-data__item__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    row-gap: 65px;
  }
  .form__program-selection__owner-data__item {
    margin: 0;
  }
}
.form__program-selection__comment {
  margin: 0;
  margin-bottom: 27px;
}

.program-selection__comment {
  padding: 0;
  border: none;
}

.form__program-selection__comment__title {
  margin-bottom: 34px;
}

.program-selection__comment__title {
  position: relative;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}
.program-selection__comment__title::after {
  position: absolute;
  top: 16px;
  left: 162px;
  right: -20px;
  height: 2px;
  background-color: #68B738;
  content: "";
}

.program-selection__comment__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  height: 150px;
  border: 1px solid #E7E7E7;
  padding: 13px;
}

@media (min-width: 768px) {
  .form__program-selection__comment {
    margin-bottom: 65px;
  }
  .form__program-selection__comment__title {
    margin-bottom: 76px;
  }
  .program-selection__comment__title {
    font-size: 36px;
    line-height: 36px;
  }
  .program-selection__comment__title::before {
    position: absolute;
    top: 25px;
    left: -70px;
    width: 30px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
  .program-selection__comment__title::after {
    top: 25px;
    left: 219px;
    right: -65px;
  }
  .program-selection__comment__input {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
  }
}
@media (min-width: 1440px) {
  .program-selection__comment__title::before {
    left: -110px;
    width: 70px;
  }
  .program-selection__comment__title::after {
    right: -110px;
  }
}
.form__program-selection__additional {
  margin: 0;
  margin-bottom: 16px;
}

.program-selection__additional {
  padding: 0;
  border: none;
}

.form__program-selection__additional__title {
  margin-bottom: 34px;
}

.program-selection__additional__title {
  position: relative;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}
.program-selection__additional__title::after {
  position: absolute;
  top: 16px;
  left: 184px;
  right: -20px;
  height: 2px;
  background-color: #68B738;
  content: "";
}

.form__program-selection__additional__list {
  margin: 0;
}

.program-selection__additional__list {
  list-style-type: none;
  padding: 0;
}

.form__program-selection__additional__list__item {
  margin-bottom: 25px;
}

.form__program-selection__additional__item {
  position: relative;
  padding-left: 46px;
  display: flex;
  align-items: center;
}

.program-selection__additional__control__text {
  text-transform: uppercase;
}

.program-selection__additional__control__checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  content: "";
}

.form__program-selection__additional__control__input[type=checkbox]:checked + .program-selection__additional__control__checkbox {
  background-image: url(../img/form/checkbox-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .form__program-selection__additional {
    margin-bottom: 59px;
  }
  .form__program-selection__additional__title {
    margin-bottom: 62px;
  }
  .program-selection__additional__title {
    font-size: 36px;
    line-height: 36px;
  }
  .program-selection__additional__title::before {
    position: absolute;
    top: 25px;
    left: -70px;
    width: 30px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
  .program-selection__additional__title::after {
    top: 25px;
    left: 252px;
    right: -65px;
  }
  .program-selection__additional__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 123px;
    row-gap: 62px;
    padding-right: 68px;
  }
  .form__program-selection__additional__list__item {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .program-selection__additional__title::before {
    left: -110px;
    width: 70px;
  }
  .program-selection__additional__title::after {
    right: -110px;
  }
  .program-selection__additional__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 104px;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */