*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arial.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  @include Arial(14px, 18px);
  color: #000;
  min-width: 320px;
  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width){
    min-width: $desktop-width;
    margin: 0 auto;
  }
}

main {
  flex-grow: 1;
  @media (min-width: $tablet-width) {
    padding: 0px;
    // margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    padding: 0px;
    // margin: 0 auto;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include Oswald(400);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 44px;
  background-color: #68B738;
  &:hover {
    background-color: #5EAA2F;
  }
  &:active {
    background-color: #5EAA2F;
    .button__text {
      opacity: 0.3;
    }
  }
}

