// variables
$mobile-width-only: 767px;
$tablet-width: 768px;
$desctop-width: 1440px;

// mixins

@mixin Oswald($weight, $size: 14px, $height: 14px) {
  font-family: "Oswald", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin Arial($size: 14px, $height: 14px) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $height;
}
