.catalog__additional {
  position: relative;
  padding: 0 20px;
  &::before {
    position: absolute;
    top: 17px;
    right: 0;
    left: 267px;
    height: 2px;
    background-color: #68B738;;
    content: "";
  }
}

.products-catalog__additional__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;
  @include Oswald(400, 24px, 24px)
}

.catalog__additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E6E6;
  &:first-child {
    border-top: 1px solid #E6E6E6;;
  }
}
.products-catalog__additional__name {
  margin-bottom: 13px;
}
.catalog__additional__name {
  display: flex;
  @include Oswald(400, 16px, 16px);
  text-transform: uppercase;
}
.products-catalog__additional__info__wrapper {
  margin-bottom: 15px;
}
.catalog__additional__info__wrapper {
  display: flex;
  justify-content: space-between;

}
.catalog__additional__info {
  @include Arial(14px, 14px);
}

.button__text {
  @include Oswald(400, 16px, 16px);
}

.products-catalog__additional__bonus__wrapper {
  margin-bottom: 35px;
}

.bonus__wrapper {
  position: relative;
  width: 100%;
  min-height: 289px;
  padding: 0 50px;
  padding-top: 186px;
  padding-bottom: 43px;
  background: #68B738 url("../img/catalog/background-mobile.png") no-repeat center;
  background-size: cover;
  color: #fff;
  &::before {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../img/catalog/gift-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
}

.bonus__text {
  @include Arial(16px, 20px);
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog__additional {
    padding: 0 30px;
    &::before {
      left: 441px;
      top: 23px;
    }
    &::after {
      position: absolute;
      top: 23px;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #68B738;;
      content: "";
    }
  }

  .products-catalog__additional__title {
    margin-top: 68px;
    margin-bottom: 80px;
    margin-left: 37px;
  }

  .catalog__additional__title {
    @include Oswald(400, 36px, 36px);
  }

  .products-catalog__additional__list {
    margin-bottom: 69px;
  }

  .catalog__additional__list {
    padding: 0 38px;
    border: 1px solid #CDCDCD
  }

  .catalog__additional__item {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    padding-top: 26px;
    padding-bottom: 28px;
    &:first-child {
      border: none;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: -38px;
      right: -38px;
      height: 1px;
      background-color: #CDCDCD;
      content: "";
    }

    &:last-child::after {
        content: none;
    }
  }

  .products-catalog__additional__name {
    margin: 0;
  }

  .catalog__additional__name {
    @include Oswald(400, 20px, 20px);
  }

  .products-catalog__additional__info__wrapper {
    margin: 0;
  }

  .catalog__additional__info {
    @include Arial(16px, 20px);
  }

  .products-catalog__additional__item__button {
    grid-column: 1/-1;
    margin-top: 27px;
  }

  .products-catalog__additional__bonus__wrapper {
    margin-bottom: 76px;
  }

  .bonus__wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    min-height: 200px;
    background-image: url("../img/catalog/background-tablet.png");
    &::before {
      top: 57px;
      left: 78px;
      width: 80px;
      height: 82px;
      background-size: cover;
      transform: none;
    }
  }

  .bonus__text {
    padding: 70px 124px;
    padding-left: 423px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__additional {
    padding: 0 110px;
  }

  .catalog__additional {
    &::after {
      width: 70px;
    }
    &::before {
      left: 483px;
    }
  }

  .products-catalog__additional__title {
    margin: 76px 0 81px 0;
  }

  .products-catalog__additional__list {
    margin: 0;
  }

  .catalog__additional__list {
    padding: 0;
    border: none;
    flex-grow: 1;
  }

  .catalog__additional__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 17px;
    border-bottom: 1px solid #CDCDCD;
    &:first-child {
      border-top: 1px solid #CDCDCD;
      border-bottom: 1px solid #CDCDCD;;
    }
    &::after {
      display: none;
    }
  }

  .catalog__additional__name {
    min-width: 324px;
  }

  .catalog__additional__info__wrapper {
    flex-grow: 1;
  }

  .products-catalog__additional__item__button {
    margin: 0;
    margin-left: 40px;
  }

  .catalog__additional__item__button {
    min-width: 244px;
  }

  .products-catalog__additional__bonus__wrapper {
    margin: 0;
  }

  .products-catalog__additional__list-info-wrapper {
    margin-bottom: 86px;
  }

  .catalog__additional__list-info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .products-catalog__additional__bonus__wrapper {
    margin-left: 40px;
  }

  .bonus__wrapper {
    justify-content: center;
    align-items: flex-end;
    width: auto;
    min-width: 245px;
    min-height: 289px;
    background-image: url("../img/catalog/background-desktop.png");
    padding: 41px;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }



  .bonus__text {
    padding: 0;
    max-width: 161px;
  }
}
